/* Define CSS Variables */
:root {
    --primary-color: #fafaf8;  /* Primary color used for main body */
    --secondary-color: #ffffff;  /* Secondary color used for header */
    --text-color: #1b1b1b;  /* Default text color */
    --spacing: 1rem;  /* Base spacing unit */
  }


header {
    display: flex;  /* Flexbox for alignment */
    align-items: center;  /* Center items vertically */
    justify-content: center;  /* Align items to the center */
    background-color: var(--secondary-color);
    padding: var(--spacing);  /* Padding around the header */
    gap: calc(0.5 * var(--spacing));  /* Space between header elements */
    color: var(--text-color);  /* Text color for header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

header img {
    width: clamp(3rem, 5vw, 4rem);  /* Responsive image width */
    height: auto;  /* Maintain aspect ratio */
}

header h1 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);  /* Responsive font size for heading */    
}